

.pageWrapper {
  background-color: #F9FAFB;
}

.sidebarCollapsed {
  width: 56px;
}

.sidebarExpanded {
  width: 240px;
}

.mainContentExpanded {
  margin-left: 240px;
}

.mainContentCollapsed {
  margin-left: 56px;
}

.navItemActive {
  background-color: #EBF8FF;
  color: #3B82F6;
  border-right: 3px solid #3B82F6;
}

.navItem:hover {
  background-color: #F3F4F6;
  color: #3B82F6;
}

.searchInput:focus {
  outline: none;
  border-color: #3B82F6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.formInput:focus {
  outline: none;
  border-color: #3B82F6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.avatarUpload {
  position: relative;
  display: inline-block;
}

.avatarOverlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3B82F6;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid white;
}

.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalEnter {
  animation: modalEnter 0.3s ease-out;
}

@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

